/* CSS HEX */
root {
    --color-link: #f1a208;
    --color-link-hover: rgb(252, 186, 121);
    --color-link-visited: rgb(209, 105, 0);
    --color-fort: #254d32;
    --color-emphasis: #6cae75;
    --color-text: #faf9f9;
    --color-bg: #080705;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto&display=swap');

* {
    margin: 0;
    border: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #080705;
    color: #faf9f9;
}

.title-emphasis {
    color: #6cae75;
}

.text-emphasis {
    color: #6cae75;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 10%;
}

.container__content__link {
    font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #6cae75;
}

.container__content__link:visited {
    color: #254d32;
}
.container__content__link:hover {
    color: #f1a208;
}

.container__content {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container__content__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container__content__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button-link {
    background-color: #6cae75;
    width: 30%;
    font-size: 24px;
    padding: 20px 0;
    border-radius: 5px;
    color: #faf9f9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}