/* CSS HEX */
root {
    --color-link: #f1a208;
    --color-link-hover: rgb(252, 186, 121);
    --color-link-visited: rgb(209, 105, 0);
    --color-fort: #254d32;
    --color-emphasis: #6cae75;
    --color-text: #faf9f9;
    --color-bg: #080705;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto&display=swap');

* {
    margin: 0;
    border: 0;
    text-decoration: none;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #080705;
    color: #faf9f9;
}

header {
padding: 2% 0 0 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    font-family: 'Montserrat', sans-serif;
    color: #6cae75;
    font-size: 24px;
    font-weight: 600;
}

.title-emphasis {
    color: #6cae75;
}

.text-emphasis {
    color: #6cae75;
}

.container {
    display: flex;
    align-items:center;
    padding: 5% 15%;
    justify-content: space-between;
}

.container__content__link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #6cae75;
}

.container__content__link:hover {
    color: #f1a208;
}

.container__content {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__content__title {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.container__content__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.container__content__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.container__content__buttons__title {
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
}

.container__content__buttons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid #6cae75;
    width: 378px;
    font-size: 24px;
    padding: 20px 0;
    border-radius: 8px;
    color: #faf9f9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.container__content__buttons__link:hover {
    background-color: #272727;
    color: #6cae75;
}

footer {
    background-color: #6cae75;
    color: #080705;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}